@model Infrastructure.Entities.Currencies

@{
    ViewData["Title"] = "View";
}

<h1>Güncel Kurlar</h1>

<p>
    <a asp-action="GetLastCurrencies">Verileri Güncelle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Currency Code
            </th>
            <th>
                Unit
            </th>
            <th>
                Currency Name
            </th>
            <th>
                Isim
            </th>
            <th>
                Forex Buying
            </th>
            <th>
                Forex Selling
            </th>
            <th>
                
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.currencyList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForexBuying)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForexSelling)
            </td>
           
        </tr>
}
    </tbody>
</table>
<script>
    window.setTimeout(function () {
        location.reload();
    }, 10000);
</script>
